.navbar{
    height: 5rem;
    background:linear-gradient(white,rgb(225, 219, 226),whitesmoke);
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}

.f-info-socials{
 display: flex;
 justify-content: center;
 column-gap: 15px;
}

.f-info{
    text-align: center;   
}

.f-info-links a{
    text-decoration: none;
    color: #222222;
    column-gap: 15px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.listing-card {
    border: none;  
}

.listing-card:hover{
    opacity: 0.8;
}

.card-img-top{
    border-radius: 15px;
    width: 100%;
    object-fit: cover;
}

.card-text{
    font-weight: 500;
}

a{
    text-decoration: none;
}

div form button{
    background-color: rgb(40, 108, 131);
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
    width: 95px;
    height: 40px;
}

.md-center{
    width: 60vw;
    margin: auto;
}

h2{
text-align: center;
}
img{
    margin: auto;
    border-radius: 10px;
}

.first{
    display: flex;
    column-gap: 20px;
}

#del{
    background-color: #c90c0c;

}

#card{
    margin-top: 50px;
    border: 2px solid black;
    padding: 5px;
    
}